<h2 class="ui header">
  <i class="address book orange icon"></i>
  <div class="content">
    Welcome to MessageMe!
    <div class="sub header">Log in to continue</div>
  </div>
</h2>

<div class="ui placeholder inverted segment">
  <div class="ui three column very relaxed centered stackable grid">
    <div class="column">
      <div class="ui form">
        <div class="field">
          <label id="login-label">Username</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Username">
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <label id="login-label">Password</label>
          <div class="ui left icon input">
            <input type="password">
            <i class="lock icon"></i>
          </div>
        </div>
        <button class="ui orange submit button">Login</button>
      </div>
    </div>

    <div id="divider" class="column">
      <div id="login-label" class="ui vertical divider">
          Or 
      </div>
    </div>

    <div class="middle aligned column">
      <div class="ui big orange button">
        <i class="signup icon"></i>
        Sign Up
      </div>
    </div>
  </div>
</div>