@import 'semantic-ui';
@import 'semantic-ui/collections/menu';

.chatbox {
  height: 450px;
}

#login-label {
  color: white;
}

#divider {
  width: 10%;
}

#messages {
  height: 15rem;
  overflow: auto;
}